body{
  text-align:center;
background-image: "https://img.freepik.com/vector-gratis/diseno-tarjeta-felicitacion-dia-madre-feliz-flor-tipografia-letra-sobre-fondo-rosa_1314-2682.jpg?w=2000";
  
}  

#album
{
  width:450px;
  border-radius:30px;
}
